#root {
    height: 100%;
    width: 100%;
}

.app::before {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    background-image: url(../public/light-rays.jpg);
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    background-position: center;
    opacity: 0.03;
    z-index: -1;
    animation-name: rotate;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform: scale(4);
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(4);
    }
    to {
        transform: rotate(360deg) scale(4);
    }
}

html, body {
    overflow: hidden;
    background-color: rgba(12, 156, 144, 0.7);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.roomContainer {
    flex-direction: row;
    display: flex;
}

.card {
    background-color: rgba(255, 255, 255, 0.75);
}