.gameImage {
    max-width: 50%;
    max-height: 50%;
    z-index: 1;
}

.loading {
    top: 25%;
}

.descriptions {
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 40%;
}

.descriptions::-webkit-scrollbar {
    display: none;
}