.messageContainer {
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100%;
    overflow: scroll;
    position: absolute;
    padding-bottom: 3em;
}

.messageContainer::-webkit-scrollbar {
    display: none;
}

.chatContainer {
    min-height: 20vh;
}